pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0px;
}

/* Annotations for a diagram or a snippet. */
.ann {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}